absl-py==1.4.0
ansible-compat==2.2.7
ansible-core==2.14.1
ansible-lint==6.8.7
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array-record==0.4.1
arrow==1.3.0
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
attrs==22.2.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==22.12.0
bleach==6.1.0
bottle==0.12.25
bracex==2.3.post1
cachetools==5.3.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
conan==1.59.0
contourpy==1.1.0
cryptography==39.0.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.5.0
exceptiongroup==1.2.0
executing==1.2.0
fasteners==0.18
fastjsonschema==2.19.1
filelock==3.9.0
flatbuffers==23.5.26
fonttools==4.41.0
fqdn==1.5.1
fsspec==2023.9.1
gast==0.4.0
google-auth==2.23.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
h11==0.14.0
h5py==3.9.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.17.2
idna==3.4
importlib-resources==6.0.1
ipykernel==6.23.2
ipython==8.14.0
ipywidgets==8.1.1
isoduration==20.11.0
jax==0.4.16
jaxlib==0.4.16
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.1
json5==0.9.22
JsonForm==0.0.2
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
JsonSir==0.0.2
jupyter-events==0.9.1
jupyter-lsp==2.2.4
jupyter_client==7.4.9
jupyter_core==5.3.1
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.4
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
keras==2.10.0
keras-core==0.1.6
keras-nlp==0.6.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==16.0.6
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.0
mypy-extensions==0.4.3
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.2
nbformat==5.10.2
nest-asyncio==1.5.6
nltk==3.8.1
node-semver==0.6.1
notebook==7.1.1
notebook_shim==0.2.4
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
overrides==7.7.0
packaging==23.0
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.3
patch-ng==1.17.4
pathspec==0.10.3
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==2.6.2
plotly==5.20.0
pluginbase==1.0.1
prometheus_client==0.20.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.14.0
PyJWT==2.6.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
Python-EasyConfig==0.1.7
python-json-logger==2.0.7
python-resources==0.3
pytz==2023.3
pywin32==306
pywinpty==2.0.13
PyYAML==6.0
pyzmq==24.0.1
referencing==0.33.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
resolvelib==0.8.1
Resource==0.2.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.2.0
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.1
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.2
subprocess-tee==0.4.1
tenacity==8.2.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-datasets==4.9.2
tensorflow-estimator==2.10.0
tensorflow-hub==0.14.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.14.0
tensorflow-text==2.10.0
termcolor==2.3.0
terminado==0.18.1
tflite==2.10.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.33.2
types-python-dateutil==2.8.19.20240311
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.15
wcmatch==8.4.1
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==2.3.7
widgetsnbextension==4.0.9
wrapt==1.15.0
yamllint==1.29.0
zipp==3.17.0
